<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Spring Boot MVC</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="styles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="container">
	<h1 class="header">Information of all people</h1>
	<table class="table" >
	<thead>
		<tr>
			<th>Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Salary</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr th:if="${people.empty}">
			<td colspan="4" style="text-align: center;">No records available. <a href="/home">Try adding one.</a></td>
		</tr>
		<tr th:each="person : ${people}">
			<td th:text="${person.id}"></td>
			<td th:text="${person.firstName}"></td>
			<td th:text="${person.lastName}"></td>
			<td th:text="${person.salary}"></td>
			<td><a href="/home" title="Add another person"><i class="material-icons">library_add</i></a>
				<a th:href="@{'/removePerson/' + ${person.id}}" title="Remove this person"><i class="material-icons">delete</i></a>
				<a th:href="@{'/updatePerson/' + ${person.id}}" title="Update this person's details"><i class="material-icons updBtn">update</i></a></td>
		</tr>
	</tbody>
	</table>
</body>
</html>